<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Cart</title>

</head>

<div class="container">
    <div class="bg-danger d-flex justify-content-center mb-5" style="width: 100%">
        <h1 class="text-light">CART</h1>
    </div>

    <div class="row mt-5 justify-content-center col-10 offset-1" th:if="${!cartList.isEmpty()}">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cart: ${cartList}">
<!--                <td><img th:src="@{'/viewPhoto/' + ${cart.shopItems.image}}" style="height: 8rem;" alt="..."></td>-->
                <td th:text="${cart.shopItems.name}"></td>
                <td th:text="${cart.shopItems.price}"></td>
                <td th:text="${cart.count}"></td>!
                <td>
                    <div class="d-flex justify-content-center flex-wrap">
                        <a th:href="@{'/sweetness/' + ${cart.shopItems.id}}" class="btn btn-primary mx-3">Details</a>
                        <form th:method="DELETE" th:action="@{/shopItems/{id}(id=${cart.shopItems.getId()})}">
                            <input class="btn btn-danger" type="submit" value="Delete"/>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <span class="col-5 offset-6 border border-light-subtle d-flex justify-content-center" th:if="${total > 0}" >
        <h4 th:text="'Total: ' + ${total} + ' products = ' + ${price} + '&#8376;'" class="py-3 mx-3"></h4>
        <div class="py-3 mx-3">
          <a href="/order" type="button" class="btn btn-primary">BUY</a>
        </div>
      </span>

    <div th:if="${cartList.isEmpty()}" class="text-center py-5">
        <h2>Your basket is empty</h2>
    </div>
</div>

