<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!-- Подключите CSS Bootstrap (в заголовке документа) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Подключите JavaScript Bootstrap и jQuery (перед закрывающим тегом </body>) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

    <header th:insert="blocks/header :: header"></header>

    <div class = "row mt-5">
        <div class="col-6 offset-3">
            <h1 class="text-center">PROFILE PAGE <span th:text="${currentUser.fullName}"></span></h1>
        </div>
    </div>

</html>